
@{
    ViewData["Title"] = "Update Department Page";
}

<form action="/Department/Update" method="post">

id: <input type="text" name="id" id="id"><br>
name: <input type="text" name="name" id="name"><br>
location: <input type="text" name="location" id="location">
<button type="submit" name="btn" id="btn">Submit</button>
</form>